ol,ul{list-style:none}

#gnb{left: 0;bottom: 0;width: 110%;z-index: 100;}
#gnb > ul > li{width:25%;float: left;position: relative;}
#gnb > ul > li > a{text-decoration: none; text-align : none; color: black; font-weight: bold; font-size:18px; text-align:center; display: block; height:29px;line-height:45px;}
#gnb ul ul{display: none;position: absolute;left:50%; top:45px;width: 180px;margin-left: -90px;background-color: #d7ecff; border-top: none;border-radius: 0 0 7px 7px;font-size:13px;}
#gnb ul ul a{text-decoration: none; color: black; display: block;height: 40px;line-height: 40px;text-align: center;}

